{% extends 'home/base.html' %}

<!-- title -->
{% block title %}Cart | By.Notti{% endblock %}

<!-- content -->
{% block content %}
<div class="container">
  <div class="row gx-4 cart">
    <nav>
      <div class="nav nav-tabs mb-5" id="nav-tab" role="tablist">
        <a
          class="nav-link active text-primary"
          id="nav-cart-tab"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
        >
          <h2>My Carts</h2>
        </a>
        <a
          class="nav-link text-muted"
          id="nav-order-tab"
          href="{{ url_for('order', username=user_info['username']) }}"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
        >
          <h2>My Orders</h2>
        </a>
      </div>
    </nav>

    {% if cart_items %}
    <!-- Bagian Item Keranjang -->
    <div class="col-lg-8 mb-4" id="cartItems">
      {% for item in cart_items %}
      
      <div
        class="cart-item p-3 border rounded-3 mb-3 d-flex align-items-center"
        data-harga="{{ item.price }}"
      >
        <img
          src="{{ url_for('static', filename='images/' ~ item.image) }}"
          alt="Gambar Produk"
          class="img-fluid rounded me-3 object-fit-cover"
          style="width: 100px; height: 100px"
        />

        <div class="d-flex flex-column flex-grow-1">
          <!-- Nama Produk dan Harga -->
          <div
            class="d-flex flex-column flex-md-row gap-1 align-items-start align-items-md-start justify-content-between mb-1"
          >
            <h5 class="text-primary fw-bold text-capitalize">
              {{ item.product_name }}
            </h5>
            <h6 class="text-primary fw-bold">
              <span class="harga-item">{{ item.price | format_idr }}</span>
            </h6>
          </div>

          <!-- Quantity dan Tombol Hapus -->
          <div class="d-flex gap-1 justify-content-between">
            <div class="d-flex align-items-center" id="item-{{item.id}}">
              <span class="text-muted me-2 d-none d-md-block">Quantity</span>
              <div class="d-flex align-items-center border-number">
                <button
                  class="minus-btn"
                  onclick="updateQuantity('minus', '{{ item.id }}')"
                >
                  -
                </button>
                <p class="jumlah-item">{{ item.quantity }}</p>
                <button
                  class="plus-btn"
                  onclick="updateQuantity('plus', '{{ item.id }}')"
                  
                >
                  +
                </button>
              </div>
            </div>
            <button
              class="btn btn-danger btn-sm ms-auto hapus-item"
              onclick="removeItemFromCart('{{ item.id }}')"
            >
              <i class="bx bx-trash"></i>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Bagian Ringkasan Pesanan -->
    <div class="col-lg-4 col-md-12">
      <div class="p-3 border rounded-3">
        <h5 class="text-primary mb-4 fw-bold">Shipping Information</h5>
        <form id="orderForm">
          <div class="mb-3">
            <label for="customerName" class="form-label text-primary"
              >Fullname</label
            >
            <input
              type="text"
              class="form-control"
              id="customerName"
              required
            />
          </div>
          <div class="mb-3">
            <label for="customerAddress" class="form-label text-primary"
              >Address</label
            >
            <textarea
              class="form-control"
              id="customerAddress"
              style="height: 80px; resize: none"
              required
            ></textarea>
          </div>

          <div class="d-flex justify-content-between mb-3 mt-4">
            <span class="fw-bold text-primary">Grand Total:</span>
            <span class="fw-bold text-primary" id="total">Rp. 0</span>
          </div>

          <a
            href="#"
            id="whatsappOrder"
            class="btn btn-success w-100 rounded-pill"
            target="_blank"
            onclick="placeOrder()"
          >
            Order now via WhatsApp
          </a>
        </form>
      </div>
    </div>

    {% else %}
    <div class="text-center">
      <p class="text-muted">Your cart is empty.</p>
      <a href="{{ url_for('products') }}" class="btn btn-primary">
        Start Shopping
      </a>
    </div>
    {% endif %}
  </div>

  <script>
    // buat pesanan
    function placeOrder() {
      // Ambil data dari form
      const customerName = document.getElementById("customerName").value.trim();
      const customerAddress = document
        .getElementById("customerAddress")
        .value.trim();

      // Siapkan data pesanan
      const orderData = {
        name: customerName,
        address: customerAddress,
        products: [],
        total_price: parseInt(
          document
            .getElementById("total")
            .innerText.replace("Rp. ", "")
            .replace(".", "")
        ),
      };

      // Iterasi melalui setiap item di keranjang
      document.querySelectorAll(".cart-item").forEach(function (item) {
        const product = {
          name: item.querySelector(".text-primary").innerText.trim(),
          quantity: parseInt(
            item.querySelector(".jumlah-item").innerText.trim()
          ),
          price: parseInt(item.getAttribute("data-harga")),
        };
        orderData.products.push(product);
      });

      $.ajax({
        type: "POST",
        url: "/place_order",
        data: JSON.stringify(orderData),
        contentType: "application/json",
        success: function (response) {
          window.location.reload();
        },
      });
    }

    function updateQuantity(action, itemId) {
      // Get the current quantity
      let quantityElement = document.querySelector(
        `#item-${itemId} .jumlah-item`
      );

      let currentQuantity = parseInt(quantityElement.innerText);

      // Adjust the quantity based on the action
      if (action === "minus" && currentQuantity > 1) {
        currentQuantity--;
      } else if (action === "plus") {
        currentQuantity++;
      }

      // Send the updated quantity to the server via AJAX
      $.ajax({
        type: "POST",
        url: "/update_quantity",
        data: JSON.stringify({ item_id: itemId, quantity: currentQuantity }),
        contentType: "application/json",
        success: function (response) {
          if (response.status === "success") {
            quantityElement.innerText = currentQuantity;
          }
        },
      });
    }

// Fungsi untuk menghapus item dari cart di server
function removeItemFromCart(itemId) {
  $.ajax({
    type: "POST",
    url: "/remove_from_cart",
    data: JSON.stringify({ product_id: itemId }),
    contentType: "application/json",
    success: function (response) {
      console.log("Item removed successfully:", response);
    },
  });
}

  </script>
  {% endblock %}
</div>
