{% extends 'home/base.html' %}

<!-- title -->
{% block title %}Detail Product | By.Notti{% endblock %}

<!-- content -->
{% block content %}
<div class="container product-wrapper">
  <div class="container">
    <div class="row gx-4 gx-lg-5 align-items-center py-4 pt-lg-0">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0 border-3 img-detail"
          src="{{ url_for('static', filename='images/' ~ product.image) }}"
          alt="{{product.product_name}}"
        />
      </div>
      <div class="col-md-6 text-primary">
        <h3 class="display-6 fw-bolder pb-2 text-capitalize">
          {{product.product_name}}
        </h3>
        <div class="fs-5 mb-4">
          <h3 class="lead fw-bold">{{product.price | format_idr}}</h3>
        </div>
        <p class="lead text-black text-break">{{product.description}}</p>

        <div class="d-flex gap-2">
          <button
            class="btn btn-outline-secondary"
            onclick="window.history.back()"
          >
            Continue Shipping
          </button>
          <div>
            <button
              type="submit"
              class="btn btn-primary w-100"
              onclick="addToCart('{{product._id}}')"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let username = "{{ user_info['username'] }}";

  function addToCart(productId) {
    $.ajax({
      type: "POST",
      url: "/add_to_cart",
      data: { product_id: productId },
      success: function (response) {
        if (response.result === "success") {
          Swal.fire({
            icon: "success",
            title: "Success!",
            text: response.msg,
            cancelButtonText: "Continue Shipping",
            confirmButtonText: "OK",
            showCancelButton: true,
            customClass: {
              cancelButton: "btn btn-outline-secondary",
              confirmButton: "btn btn-primary",
            },
            buttonsStyling: false,
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = `/cart/${username}`;
            } else if (result.isDismissed) {
              window.location.href = "/products";
            }
          });
        } else {
          Swal.fire({
            icon: "error",
            title: "Login Required",
            text: response.msg,
            confirmButtonText: "OK",
            customClass: {
              confirmButton: "btn btn-primary",
            },
          }).then((result) => {
            window.location.href = "/login";
          });
        }
      },
    });
  }
</script>
{% endblock %}
