{% extends 'home/base.html' %}

<!-- title -->
{% block title %}Home | By.Notti{% endblock %}

<!-- content -->
{% block content %}
<div class="p-4 p-md-0">
  <!-- Hero Section-->
  <header class="hero" id="home">
    <div class="container px-3">
      <div class="row gx-5 align-items-center">
        <div class="col-12 col-lg-6">
          <div class="mb-5 mb-lg-0 text-center text-lg-start">
            <h1 class="display-1 lh-1 mb-4">Crafted With Love</h1>
            <p class="lead text-muted mb-5 fw-normal px-0 px-md-5 px-lg-0">
              At our bakery, we believe that every pastry should tell a story of
              tradition, craftsmanship, and pure indulgence.
            </p>
            <div class="d-flex flex-column flex-lg-row align-items-center">
              <a
                href="{{url_for('products')}}"
                class="btn btn-primary btn-lg rounded-pill fw-bold px-4"
              >
                Discover Menu
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 text-center text-lg-end">
          <img
            loading="lazy"
            src="{{ url_for('static', filename='images/hero.png') }}"
            alt="hero img"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </header>

  <!-- Best Seller Section-->
  <aside class="text-center text-lg-start text-light" id="best-seller">
    <div class="container bg-primary p-5 rounded-5">
      <div class="row gx-5 mb-5">
        <div class="col-12 col-lg-8">
          <h2 class="display-4 lh-1 mb-4 mb-lg-3 text-light">
            Our Best Sellers
          </h2>
          <p class="lead fw-normal mb-3 mb-lg-0">
            Our most-loved baked goods, fresh, and irresistible. Try the today
          </p>
        </div>

        <div class="col-12 col-lg-4 text-lg-end">
          <a
            href="{{url_for('products')}}"
            class="btn btn-light btn-lg rounded-pill fw-bold px-4"
          >
            Explore All
          </a>
        </div>
      </div>

      <div class="d-flex flex-column flex-md-row gap-5 gap-md-3 gap-lg-5">
        <div class="card flex-grow-1">
          <img
            loading="lazy"
            src="{{ url_for('static', filename='images/best-seller1.png') }}"
            class="card-img"
            alt="best-seller1"
          />
        </div>
        <div class="card flex-grow-1">
          <img
            loading="lazy"
            src="{{ url_for('static', filename='images/best-seller2.png') }}"
            class="card-img"
            alt="best-seller2"
          />
        </div>
        <div class="card flex-grow-1">
          <img
            loading="lazy"
            src="{{ url_for('static', filename='images/best-seller3.png') }}"
            class="card-img"
            alt="best-seller3"
          />
        </div>
      </div>
    </div>
  </aside>

  <!-- About Us Section-->
  <section id="about-us">
    <div class="container text-primary">
      <div class="row gx-5 align-items-center flex-md-row-reverse">
        <div class="col-12 col-md-6 col-lg-7 mb-5 mb-md-0">
          <div class="text-center text-lg-start about-us-text">
            <h2 class="display-4 lh-1 mb-4 mb-lg-4">About Us</h2>
            <p class="lead fw-normal mb-2 mb-lg-3">
              At our bakery, we believe that every pastry should tell a story, a
              story of tradition, craftsmanship, and pure indulgence.
            </p>
            <p class="lead fw-normal mb-md-0">
              Craftsmanship, and pure indulgence. At our bakery, we believe that
              every pastry should tell a story - a story of tradition,
              craftsmanship, and pure indulgence.
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5">
          <div class="card">
            <img
              loading="lazy"
              src="{{ url_for('static', filename='images/best-seller2.png') }}"
              alt="about img"
              class="about-img img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonial Section -->
  <section id="testimonial">
    <div class="container text-center text-primary">
      <h2 class="display-4 lh-1 mb-lg-4">Our Testimonials</h2>

      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          {% for review in reviews %}

          <!-- define data -->
          {% set link = review.review_link %} {% set image =
          review.author_image%} {% set author = review.author_title %} {% set
          rating = review.review_rating %} {% set review = review.review_text %}

          <a
            href="{{link}}"
            target="_blank"
            class="carousel-item {% if loop.first %}active{% endif %} text-decoration-none"
          >
            <img
              loading="lazy"
              src="{% if image %}{{ image }}{% else %}{{url_for('static', filename='images/image_author.png')}}{% endif %}"
              alt="{{author}}'s photo"
              class="img-fluid ratio-1x1 mt-5 mb-4 rounded-circle d-block testi-img mx-auto"
            />
            <div class="py-4">
              {% for i in range(rating) %}
              <i class="bx bxs-star bx-sm" style="color: gold"></i>{% endfor %}
            </div>
            <p
              class="lead fw-normal text-muted mb-2 mb-lg-3 col-md-8 col-lg-6 mx-auto"
            >
              {% if not review %} Good {% else %} {{ review }} {% endif %}
            </p>
            <p
              class="lead fw-normal fw-bold mb-2 mb-lg-3 text-primary text-capitalize"
            >
              - {{author}}
            </p>
          </a>
          {% endfor %}
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
</div>
{% endblock %}
