{% extends 'home/base.html' %} 

{% block title %}Products | By.Notti{% endblock %} 

{% block content %}
<div class="container product-container">
  <h2 class="mb-4">Cookies & Snacks</h2>
  <div class="scrollable-container">
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Bitterballen Truffle Mushroom</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Bitterballen Truffle Mushroom</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Bitterballen Truffle Mushroom</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Bitterballen Truffle Mushroom</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <form action="{{ url_for('add_to_cart') }}" method="POST" class="add-to-cart-form">
      <input type="hidden" name="product_id" value="product_id_bitterballen">
      <input type="hidden" name="quantity" value="1">
      <button type="submit" class="btn btn-primary w-100">Add to cart</button>
    </form>
  </div>

  <h2 class="mb-4 mt-5">Brownies</h2>
  <div class="scrollable-container">
    <div class="product-card flex-grow-1">
      <img src="https://tse1.mm.bing.net/th?id=OIP.TQyxAQOQRUJizTGD0o28-QHaHa&pid=Api&P=0&h=180" alt="Product" />
      <h5 class="mt-2 fw-bold">Brownies</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Brownies</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Brownies</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Brownies</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <form action="{{ url_for('add_to_cart') }}" method="POST" class="add-to-cart-form">
      <input type="hidden" name="product_id" value="product_id_brownies">
      <input type="hidden" name="quantity" value="1">
      <button type="submit" class="btn btn-primary w-100">Add to cart</button>
    </form>
  </div>

  <h2 class="mb-4 mt-5">Cakes</h2>
  <div class="scrollable-container">
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Cake</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Cake</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Cake</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Cake</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <form action="{{ url_for('add_to_cart') }}" method="POST" class="add-to-cart-form">
      <input type="hidden" name="product_id" value="product_id_Cakes">
      <input type="hidden" name="quantity" value="1">
      <button type="submit" class="btn btn-primary w-100">Add to cart</button>
    </form>
  </div>

  <h2 class="mb-4 mt-5">Pasta</h2>
  <div class="scrollable-container">
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Pasta</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Pasta</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Pasta</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <div class="product-card flex-grow-1">
      <img src="https://picsum.photos/200/150" alt="Product" />
      <h5 class="mt-2 fw-bold">Pasta</h5>
      <p>Rp. 25.000</p>
      <button class="btn btn-primary w-100">Add to cart</button>
    </div>
    <form action="{{ url_for('add_to_cart') }}" method="POST" class="add-to-cart-form">
      <input type="hidden" name="product_id" value="product_id_Pasta">
      <input type="hidden" name="quantity" value="1">
      <button type="submit" class="btn btn-primary w-100">Add to cart</button>
    </form>
  </div>
</div>
{% endblock %}
