{% extends 'home/base.html' %}

<!-- title -->
{% block title %}Products | By.Notti{% endblock %}

<!-- content -->
{% block content %}
<div class="container product-container">
  <!-- cookies & snacks category -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0 text-primary">Cookies & Snacks</h2>
    <div class="d-none d-md-flex">
      <i class="bx bx-md bxs-chevron-left text-primary left-arrow"></i>
      <i class="bx bx-md bxs-chevron-right text-primary right-arrow"></i>
    </div>
  </div>
  <div class="scrollable-container">
    {% for product in products %} {% if product.category == "cookies & snacks"
    %}
    <div class="product-card">
      <a
        href="{{ url_for('detail_product', id=product._id) }}"
        class="pointer-event text-decoration-none"
      >
        <img
          src="{{ url_for('static', filename='images/' ~ product.image) }}"
          alt="{{ product.product_name }}"
          class="object-fit-cover"
        />
        <h5 class="mt-2 text-capitalize text-primary display-6">
          {{ product.product_name }}
        </h5>
        <p>{{ product.price |format_idr }}</p>
      </a>

      <button
        type="button"
        class="btn btn-primary w-100"
        onclick="addToCart('{{ product._id }}')"
      >
        Add to cart
      </button>
    </div>
    {% endif %} {% endfor %}
  </div>

  <!-- brownies category -->
  <div
    class="d-flex justify-content-between align-items-center mb-4 mt-5 pt-0 pt-md-5"
  >
    <h2 class="mb-0 text-primary">Brownies</h1>
    <div class="d-none d-md-flex">
      <i class="bx bx-md bxs-chevron-left text-primary left-arrow"></i>
      <i class="bx bx-md bxs-chevron-right text-primary right-arrow"></i>
    </div>
  </div>
  <div class="scrollable-container">
    {% for product in products %} {% if product.category == "brownies" %}
    <div class="product-card">
      <a
        href="{{ url_for('detail_product', id=product._id) }}"
        class="pointer-event text-decoration-none"
      >
        <img
          src="{{ url_for('static', filename='images/' ~ product.image) }}"
          alt="{{ product.product_name }}"
          class="object-fit-cover"
        />
        <h5 class="mt-2 text-capitalize text-primary display-6">
          {{ product.product_name }}
        </h5>
        <p>{{ product.price |format_idr }}</p>
      </a>
      <button
        type="button"
        class="btn btn-primary w-100"
        onclick="addToCart('{{ product._id }}')"
      >
        Add to cart
      </button>
    </div>
    {% endif %} {% endfor %}
  </div>

  <!-- cakes category -->
  <div
    class="d-flex justify-content-between align-items-center mb-4 mt-5 pt-0 pt-md-5"
  >
    <h2 class="mb-0 text-primary">Cakes</h2>
    <div class="d-none d-md-flex">
      <i class="bx bx-md bxs-chevron-left text-primary left-arrow"></i>
      <i class="bx bx-md bxs-chevron-right text-primary right-arrow"></i>
    </div>
  </div>

  <div class="scrollable-container">
    {% for product in products %} {% if product.category == "cakes" %}
    <div class="product-card">
      <a
        href="{{ url_for('detail_product', id=product._id) }}"
        class="pointer-event text-decoration-none"
      >
        <img
          src="{{ url_for('static', filename='images/' ~ product.image) }}"
          alt="{{ product.product_name }}"
          class="object-fit-cover"
        />
        <h5 class="mt-2 text-capitalize text-primary display-6">
          {{ product.product_name }}
        </h5>
        <p>{{ product.price |format_idr }}</p>
      </a>

      <button
        type="button"
        class="btn btn-primary w-100"
        onclick="addToCart('{{ product._id }}')"
      >
        Add to cart
      </button>
    </div>
    {% endif %} {% endfor %}
  </div>

  <!-- pasta category -->
  <div
    class="d-flex justify-content-between align-items-center mb-4 mt-5 pt-0 pt-md-5"
  >
    <h2 class="mb-0 text-primary">Pasta</h2>
    <div class="d-none d-md-flex">
      <i class="bx bx-md bxs-chevron-left text-primary left-arrow"></i>
      <i class="bx bx-md bxs-chevron-right text-primary right-arrow"></i>
    </div>
  </div>

  <div class="scrollable-container">
    {% for product in products %} {% if product.category == "pasta" %}
    <div class="product-card">
      <a
        href="{{ url_for('detail_product', id=product._id) }}"
        class="pointer-event text-decoration-none"
      >
        <img
          src="{{ url_for('static', filename='images/' ~ product.image) }}"
          alt="{{ product.product_name }}"
          class="object-fit-cover"
        />
        <h5 class="mt-2 text-capitalize text-primary display-6">
          {{ product.product_name }}
        </h5>
        <p>{{ product.price |format_idr }}</p>
      </a>
      <button
        type="button"
        class="btn btn-primary w-100"
        onclick="addToCart('{{ product._id }}')"
      >
        Add to cart
      </button>
    </div>
    {% endif %} {% endfor %}
  </div>

  <script>
    // scroll container product
    document.querySelectorAll(".scrollable-container").forEach((container) => {
      const leftArrow =
        container.previousElementSibling.querySelector(".left-arrow");
      const rightArrow =
        container.previousElementSibling.querySelector(".right-arrow");

      leftArrow.addEventListener("click", () => {
        container.scrollBy({ left: -300, behavior: "smooth" });
      });

      rightArrow.addEventListener("click", () => {
        container.scrollBy({ left: 300, behavior: "smooth" });
      });
    });

    function addToCart(productId) {
      $.ajax({
        type: "POST",
        url: "/add_to_cart",
        data: { product_id: productId },
        success: function (response) {
          Swal.fire({
            icon: "success",
            title: "Success!",
            text: response.msg,
            confirmButtonText: "OK",
            customClass: {
              confirmButton: "btn btn-primary",
            },
          }).then(() => {
            window.location.href = "/cart/{{username}}";
          });
        },
      });
    }
  </script>
  {% endblock %}
</div>
