{% extends 'home/base.html' %}

{% block title %}Products | By.Notti{% endblock %}

{% block content %}
<div class="container product-container">
  <h2 class="mb-4">Cookies & Snacks</h2>
  <div class="scrollable-container">
    {% for product in products %}
    {% if product.category == "cookies & snacks" %}
    <div class="product-card flex-grow-1">
      <img src="{{ url_for('static', filename='images/' ~ product.image) }}" alt="{{ product.product_name }}" />
      <h5 class="mt-2 fw-bold text-capitalize">{{ product.product_name }}</h5>
      <p>{{ product.price }}</p>
      <form method="POST" action="{{ url_for('add_to_cart') }}">
        <input type="hidden" name="product_id" value="{{ product._id }}">
        <button type="submit" class="btn btn-primary w-100">Add to cart</button>
      </form>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <h2 class="mb-4 mt-5">Brownies</h2>
  <div class="scrollable-container">
    {% for product in products %}
    {% if product.category == "brownies" %}
    <div class="product-card flex-grow-1">
      <img src="{{ url_for('static', filename='images/' ~ product.image) }}" alt="{{ product.product_name }}" />
      <h5 class="mt-2 fw-bold text-capitalize">{{ product.product_name }}</h5>
      <p>{{ product.price }}</p>
      <form method="POST" action="{{ url_for('add_to_cart') }}">
        <input type="hidden" name="product_id" value="{{ product._id }}">
        <button type="submit" class="btn btn-primary w-100">Add to cart</button>
      </form>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <h2 class="mb-4 mt-5">Cakes</h2>
  <div class="scrollable-container">
    {% for product in products %}
    {% if product.category == "cakes" %}
    <div class="product-card flex-grow-1">
      <img src="{{ url_for('static', filename='images/' ~ product.image) }}" alt="{{ product.product_name }}" />
      <h5 class="mt-2 fw-bold text-capitalize">{{ product.product_name }}</h5>
      <p>{{ product.price }}</p>
      <form method="POST" action="{{ url_for('add_to_cart') }}">
        <input type="hidden" name="product_id" value="{{ product._id }}">
        <button type="submit" class="btn btn-primary w-100">Add to cart</button>
      </form>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <h2 class="mb-4 mt-5">Pasta</h2>
  <div class="scrollable-container">
    {% for product in products %}
    {% if product.category == "pasta" %}
    <div class="product-card flex-grow-1">
      <img src="{{ url_for('static', filename='images/' ~ product.image) }}" alt="{{ product.product_name }}" />
      <h5 class="mt-2 fw-bold text-capitalize">{{ product.product_name }}</h5>
      <p>{{ product.price }}</p>
      <form method="POST" action="{{ url_for('add_to_cart') }}">
        <input type="hidden" name="product_id" value="{{ product._id }}">
        <button type="submit" class="btn btn-primary w-100">Add to cart</button>
      </form>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
