<footer class="pt-5 pb-0 pb-md-3">
  <div class="container px-5 text-light bg-primary rounded-5 p-5">
    <div class="row gx-5">
      <div class="col-6 col-md-4">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="logo"
        />
        <p class="fw-normal my-4">
          At our bakery, we believe that every pastry should tell a story of
          tradition, craftsmanship, and pure indulgence.
        </p>
        <div class="d-flex gap-3 gap-lg-2 align-items-center">
          <a
            href="https://www.tiktok.com/@by.notti?_t=8s166mpkePQ&_r=1"
            target="_blank"
            class="text-decoration-none"
          >
            <i class="bx bx-sm bx-border-circle bxl-tiktok"></i>
          </a>
          <a
            href="https://www.instagram.com/by.notti/"
            target="_blank"
            class="text-decoration-none"
          >
            <i class="bx bx-sm bx-border-circle bxl-instagram"></i>
          </a>
          <a
            href="https://wa.me/6285183338861"
            target="_blank"
            class="text-decoration-none"
          >
            <i class="bx bx-sm bx-border-circle bxl-whatsapp lh-1"></i>
          </a>
          <a
            href="https://food.grab.com/id/id/restaurant/by-notti-kelapa-gading-timur-delivery/6-C6XGGVEVPADWFA"
            class="text-decoration-none d-none d-lg-inline ms-1"
            target="_blank"
          >
            <img
              src="{{url_for('static', filename='images/grabfood.svg')}}"
              alt="grabfood logo"
              class="img-fluid rounded-3 ojol-img"
            />
          </a>
          <a
            href="https://gofood.co.id/jakarta/restaurant/by-notti-kelapa-gading-b9f78530-914c-4830-8149-4aad856aa8cd"
            class="text-decoration-none d-none d-lg-inline"
            target="_blank"
          >
            <img
              src="{{url_for('static', filename='images/gofood.svg')}}"
              alt="gofood logo"
              class="img-fluid rounded-3 ojol-img"
            />
          </a>
        </div>
      </div>

      <div class="col-6 col-md-2 d-flex flex-column justify-content-between">
        <h6 class="fw-bolder lead mb-0">Quick Links</h6>
        <ul class="navbar-nav mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}#home">Home</a>
            <a class="nav-link" href="{{url_for('home')}}#best-seller"
              >Best Seller</a
            >
            <a class="nav-link" href="{{url_for('home')}}#about-us">About Us</a>
            <a class="nav-link pb-md-0" href="{{url_for('home')}}#testimonial"
              >Testimonial</a
            >
          </li>
        </ul>

        <ul class="navbar-nav gap-2 d-lg-none">
          <li>
            <a
              href="https://food.grab.com/id/id/restaurant/by-notti-kelapa-gading-timur-delivery/6-C6XGGVEVPADWFA"
              class="text-decoration-none"
              target="_blank"
            >
              <img
                src="{{url_for('static', filename='images/grabfood.svg')}}"
                alt="grabfood logo"
                class="img-fluid rounded-3 w-75"
              />
            </a>
          </li>
          <li>
            <a
              href="https://gofood.co.id/jakarta/restaurant/by-notti-kelapa-gading-b9f78530-914c-4830-8149-4aad856aa8cd"
              class="text-decoration-none"
              target="_blank"
            >
              <img
                src="{{url_for('static', filename='images/gofood.svg')}}"
                alt="gofood logo"
                class="img-fluid rounded-3 w-75"
              />
            </a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-6 my-5 my-md-0">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.8213915437095!2d106.90612057660225!3d-6.154670593832476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f595ee905a7d%3A0x56b4492073a2b771!2sBy%20Notti%20Kelapa%20Gading!5e0!3m2!1sen!2sid!4v1732006261495!5m2!1sen!2sid"
          width="100%"
          height="100%"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="rounded-4"
        ></iframe>
      </div>
    </div>

    <div class="pt-0 pt-md-4 pt-md-5">
      <hr class="rounded-pill" />
      <div class="text-center">&copy; 2024. All Rights Reserved.</div>
    </div>
  </div>
</footer>
