<nav
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow-sm d-flex justify-content-between justify-content-md-end"
>
  <button
    id="sidebarToggleTop"
    class="btn btn-link d-md-none rounded-circle mr-3"
  >
    <i class="fa fa-bars"></i>
  </button>
  <nav>
    <span class="navbar-text me-3"> Welcome, {{ username }}! </span>
    <a href="{{url_for('logout')}}" class="btn btn-light btn-lg btn-primary">
      <span class="d-flex align-items-center">
        <span class="small fw-bold">Logout</span>
        <i class="fa-solid fa-arrow-right-from-bracket fa-lg ms-2"></i>
      </span>
    </a>
  </nav>
</nav>
