<ul
  class="navbar-nav bg-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <div class="sidebar-brand d-flex align-items-center justify-content-center">
    <div class="sidebar-brand-icon">
      <img src="{{url_for('static', filename='images/icon_blue.png')}}" alt="logo admin" class="img-sidebar" />
    </div>
    <div class="sidebar-brand-text mx-3">By.Notti</div>
  </div>
  <hr class="sidebar-divider my-0" />
  <div class="sidebar-heading mt-3">Table</div>
  <li class="nav-item {% if request.endpoint == 'users_table' %}active{% endif %}">
    <a class="nav-link" href="{{url_for('users_table')}}">
      <i class="fa-solid fa-user-group"></i>
      <span>Users</span>
    </a>
  </li>
  <li class="nav-item {% if request.endpoint == 'products_table' %}active{% endif %}">
    <a class="nav-link" href="{{url_for('products_table')}}">
      <i class="fas fa-fw fa-box"></i>
      <span>Products</span>
    </a>
  </li>
  <hr class="sidebar-divider" />
  <div class="sidebar-heading">Management</div>
  <li class="nav-item {% if request.endpoint == 'create_user' %}active{% endif %}">
    <a class="nav-link text-decoration-none" href="{{url_for('create_user')}}">
      <i class="fa-solid fa-user-plus"></i>
      <span>Create New User</span>
    </a>
  </li>
  <li class="nav-item {% if request.endpoint == 'create_product' %}active{% endif %}">
    <a class="nav-link" href="{{url_for('create_product')}}">
      <i class="fa-solid fa-pen-to-square"></i>
      <span>Create New Product</span>
    </a>
  </li>
  <hr class="sidebar-divider d-none d-md-block" />
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
