{% extends 'admin/base.html' %}

<!-- title -->
{% block title %}Contact Messages | By.Notti{% endblock %}

<!-- content -->
{% block content %}
<div class="container-fluid">
  <!-- alert -->
  <div id="successAlert" class="alert alert-success alert-dismissible fade d-none" role="alert">
    <strong id="alertStrong">-</strong>
    <span id="alertMessage">-</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <h4 class="mb-2 mb-4">Contact Messages</h4>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 fw-bold text-primary">Messages</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="align-middle">No.</th>
              <th class="align-middle">Name</th>
              <th class="align-middle">Phone Number</th>
              <th class="align-middle">Message</th>
              <th class="align-middle">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for message in messages %}
            <tr>
              <td class="align-middle">{{ loop.index }}</td>
              <td class="align-middle">{{ message.name }}</td>
              <td class="align-middle">{{ message.phone_number }}</td>
              <td class="align-middle">{{ message.message }}</td>
              <td class="align-middle">
                <div class="d-flex flex-column flex-lg-row gap-1">
                  <!-- Reply Button with WhatsApp link -->
                  <a href="https://wa.me/{{ message.phone_number }}?text=halo, Saya akan menjawab Pesan anda di website: {{ message.message }}" class="btn btn-success btn-icon-split d-flex justify-content-start" target="_blank">
                    <span class="icon text-white-50">
                      <i class="fas fa-reply"></i>
                    </span>
                    <span class="text">Reply via WhatsApp</span>
                  </a>
                  <a href="javascript:delete_message('{{ message.id }}')" class="btn btn-danger btn-icon-split d-flex justify-content-start">
                    <span class="icon text-white-50">
                      <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Delete</span>
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  function delete_message(id) {
    $.ajax({
      type: "POST",
      url: "/admin/contact/delete",
      data: { id_give: id },
      success: function (response) {
        document.getElementById("alertStrong").innerText = "Success!";
        document.getElementById("alertMessage").innerText = response.msg;
        const alertBox = document.getElementById("successAlert");
        alertBox.classList.remove("d-none");
        alertBox.classList.add("show");
        const closeButton = document.querySelector("#successAlert .btn-close");
        closeButton.addEventListener("click", function () {
          window.location.reload();
        });
      },
    });
  }
</script>

{% endblock %}
