{% extends 'admin/base.html' %}

<!-- title -->
{% block title %}Create User | By.Notti{% endblock %}

<!-- content -->
{% block content %}
<div class="container-fluid">
  <!-- alert -->
  <div
    id="successAlert"
    class="alert alert-success alert-dismissible fade d-none"
    role="alert"
  >
    <strong id="alertStrong">-</strong>
    <span id="alertMessage">-</span>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  <h4 class="mb-2 mb-4">Create New User</h4>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 fw-bold text-primary">New User</h6>
    </div>
    <div class="card-body">
      <div class="row d-flex gap-2">
        <div class="form-group">
          <label for="username" class="form-control-label">Username</label>
          <input
            class="form-control"
            type="text"
            id="username"
            placeholder="your username"
            required
          />
          <small
            id="usernameErrorMessage"
            class="form-text text-danger d-block pt-1 d-none"
          >
            <i class="fas fa-exclamation-circle me-2"></i>
            <span class="usernameErrorText">Username cannot be empty.</span>
          </small>
        </div>
        <div class="form-group">
          <label for="password" class="form-control-label">Password</label>
          <div class="input-group">
            <input
              class="form-control"
              type="password"
              id="password"
              placeholder="your password"
              required
            />
            <button class="password-toggle" type="button" id="togglePassword">
              <i class="fas fa-eye" id="passwordToggleIcon"></i>
            </button>
          </div>
          <small
            id="passwordErrorMessage"
            class="form-text text-danger d-block pt-1 d-none"
          >
            <i class="fas fa-exclamation-circle me-2"></i>
            <span class="passwordErrorText"> Password cannot be empty. </span>
          </small>
        </div>

        <div class="form-group">
          <label for="role" class="form-control-label">Role</label>
          <select class="form-control" name="role" id="role">
            <option disabled selected>-- select one role --</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
          </select>
          <small
            id="roleErrorMessage"
            class="form-text text-danger d-block pt-1 d-none"
          >
            <i class="fas fa-exclamation-circle me-2"></i>Role cannot be empty.
          </small>
        </div>
      </div>

      <div class="d-flex justify-content-end pt-3">
        <button class="btn btn-primary btn-md" onclick="create_user()">
          Add New User
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // menghilangkan error saat input diisi
    $("#username").on("input", function () {
      if ($(this).val()) {
        $("#usernameErrorMessage").addClass("d-none");
      }
    });

    $("#password").on("input", function () {
      if ($(this).val()) {
        $("#passwordErrorMessage").addClass("d-none");
      }
    });

    $("#role").on("change", function () {
      if ($(this).val()) {
        $("#roleErrorMessage").addClass("d-none");
      }
    });
  });

  // fungsi format username
  function is_nickname(asValue) {
    var regExp = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_]).{8,15}$/;
    return regExp.test(asValue);
  }

  // fungsi format password
  function is_password(asValue) {
    var regExp = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_]).{8,15}$/;
    return regExp.test(asValue);
  }

  function create_user() {
    let username = $("#username").val();
    let password = $("#password").val();
    let role = $("#role").val();

    // validasi input
    if (!username || !password || !role) {
      if (!username) {
        $("#usernameErrorMessage").removeClass("d-none");
      }
      if (!password) {
        $("#passwordErrorMessage").removeClass("d-none");
      }
      if (!role) {
        $("#roleErrorMessage").removeClass("d-none");
      }
      return;
    }

    if (!is_nickname(username)) {
      $("#usernameErrorMessage").removeClass("d-none");
      $("#usernameErrorMessage .usernameErrorText").text(
        "Username must be 8-15 characters long, containing letters, numbers, and special characters."
      );
      return;
    }

    if (!is_password(password)) {
      $("#passwordErrorMessage").removeClass("d-none");
      $("#passwordErrorMessage .passwordErrorText").text(
        "Username must be 8-15 characters long, containing letters, numbers, and special characters."
      );
      return;
    }

    $.ajax({
      type: "POST",
      url: "/admin/user/create",
      data: {
        username_give: username,
        password_give: password,
        role_give: role,
      },
      success: function (response) {
        if (response.result === "success") {
          // ubah teks alert
          document.getElementById("alertStrong").innerText = "Success!";
          document.getElementById("alertMessage").innerText = response.msg;

          // tampilkan alert
          const alertBox = document.getElementById("successAlert");
          alertBox.classList.remove("d-none");
          alertBox.classList.add("show");

          // redirect ke halaman users setelah di silang
          const closeButton = document.querySelector(
            "#successAlert .btn-close"
          );
          closeButton.addEventListener("click", function () {
            window.location.href = "/admin/users";
          });
        }
      },
    });
  }
</script>
{% endblock %}
